## 2. การทำความสะอาดข้อมูล หรือคัดกรองข้อมูล

จากขั้นตอนที่แล้ว เริ่มจากดูชนิดของข้อมูลก่อน

In [16]:
import pandas as pd

In [2]:
data_daily = pd.read_csv("../data/stations_daily.csv")
data_hourly = pd.read_csv("../data/stations_hourly.csv")

In [17]:
data_daily.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231592 entries, 0 to 231591
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   datetime    231592 non-null  object
 1   station_id  231592 non-null  int64
 2   PM2.5       161698 non-null  float64
 3   PM10        180481 non-null  float64
 4   NOx         112881 non-null  float64
 5   O3          192957 non-null  float64
 6   CO          175493 non-null  float64
 7   HR          123285 non-null  float64
 8   NO          118154 non-null  float64
 9   NO2         169286 non-null  float64
 10  TMP         127015 non-null  float64
 11  BEN         775 non-null     float64
 12  CH4         270 non-null     float64
 13  CN          595 non-null     float64
 14  CO2         56 non-null      float64
 15  H2S         280 non-null     float64
 16  HCNM        279 non-null     float64
 17  HCT         0 non-null       float64
 18  HRI         10205 non-null   float64
 19  IUV         4936 non-null    float64
 20  PB          91738 non-null   float64
 21  PP          75346 non-null   float64
 22  PST         0 non-null       float64
 23  RS          75507 non-null   float64
 24  TMPI        34385 non-null   float64
 25  UVA         16090 non-null   float64
 26  XIL         775 non-null     float64
dtypes: float64(25), int64(1), object(1)
memory usage: 47.7+ MB

In [18]:
data_hourly.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5951903 entries, 0 to 5951902
Data columns (total 27 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   datetime    5951903 non-null  object
 1   station_id  5951903 non-null  int64
 2   PM2.5       4051918 non-null  float64
 3   PM10        4637964 non-null  float64
 4   NOx         3046803 non-null  float64
 5   O3          4914802 non-null  float64
 6   CO          4542033 non-null  float64
 7   HR          3388063 non-null  float64
 8   NO          3134901 non-null  float64
 9   NO2         4344013 non-null  float64
 10  TMP         3467518 non-null  float64
 11  BEN         18323 non-null    float64
 12  CH4         4214 non-null     float64
 13  CN          12645 non-null    float64
 14  CO2         1319 non-null     float64
 15  H2S         4674 non-null     float64
 16  HCNM        4378 non-null     float64
 17  HCT         0 non-null        float64
 18  HRI         777220 non-null   float64
 19  IUV         108849 non-null   float64
 20  PB          2099985 non-null  float64
 21  PP          2267195 non-null  float64
 22  PST         0 non-null        float64
 23  RS          1653531 non-null  float64
 24  TMPI        1378079 non-null  float64
 25  UVA         375454 non-null   float64
 26  XIL         18323 non-null    float64
dtypes: float64(25), int64(1), object(1)
memory usage: 1.2+ GB

สังเกต column ที่ datetime ไม่เป็น datetime type จำเป็นต้องแปลง